.quadro {
    font-size: 10px;
    
    padding: 2em 0 2em 0;
    margin: 0 auto;
    max-width: 65em;
    width: calc(100% - 6em);
}

header.titulo {
    width: -moz-max-content;
    width: -webkit-max-content;
    width: -ms-max-content;
    width: max-content;
    margin-bottom: 2em;
}

img.propaganda{
width:100%;
height:auto;
}

.balao{
	width:30px;
}